---
import type { CollectionEntry } from 'astro:content';
import { withBase, formatDate } from '../utils';

interface Props {
  product: CollectionEntry<'products'>;
}

const { product } = Astro.props;
const { title, description, pubDate, tags } = product.data;
---

<li class="product-card">
  <h2>
    <a href={withBase(`/products/${product.id}/`)}>{title}</a>
  </h2>
  <p class="description">{description}</p>
  <div class="card-meta">
    <time datetime={pubDate.toISOString()}>{formatDate(pubDate)}</time>
    {
      tags.length > 0 && (
        <ul class="tag-list">
          {tags.map((tag) => (
            <li class="tag">{tag}</li>
          ))}
        </ul>
      )
    }
  </div>
</li>
